
*.pyc
*.png
*.sublime-workspace
*.sublime-project
*.pdf
*.descarga
*.css
Chess-AI-master/
Documentacion/
*.html
UCT.py
salida.txt
ganadas.txt
tiempos.txt
tiempos1.txt

variaciones.py
grafico.py
grafico.py
grafico.py
